<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="utf-8" />
     <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title> {{ title }} </title>
    </head>

    <nav>
        <a href="{{ ( url_for('index') ) }}"> Home </a>
        <a href="{{ ( url_for('house') ) }}"> My House </a>
        <a href="{{ ( url_for('statistics') ) }}"> Statistics </a>
    </nav>

    <body>
        {% block main_content %} {% endblock %}
    </body>

    <footer> © All rights reserved <br> Team 4 </footer>
</html>