{% extends "base.html" %}

{% block main_content %}
    <h1> Energy Efficient Heating System </h1>
    <p> A simple user interface with default energy-efficient settings is implemented to increase accessibility 
        and reduce overall energy consumption of heating systems. The default settings are programmed so that users
         can enjoy comfortable temperatures when they are at home, and when residents are sleeping or absent from 
         the house, temperatures are decreased to reduce heating costs. <br>
         This website allows a user to set up preferred schedules throughout the day so that heaters will automatically switch on in specific
         rooms at desired temperatures. On the website, users can remotely monitor and manually adjust temperatures no matter where they are. 
         Additionally, a thermostat observes the temperature in each room to provide real-time temperature data to the user. 
         All these features combine to create a user-friendly, energy-efficient heating control system that can provide sustainable improvements for Irish residents</p> 

    <p> Add a room to get started! <a href="{{ ( url_for('house') ) }}"> Go to your House </a> </p>
{% endblock %}