{% extends "base.html" %}

{% block main_content %}
    <h1> {{ room["name"] }} </h1>
    <p> Current time: {{ now }} <br>
        Room temperature: {{ room_temp }} <br>
        Is heater on? {{ heater_state }}
    </p>
    <div> <a href="{{ url_for('house') }}"> Go back </a> </div>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        {{ form.desiredTemp.label }}
        {{ form.desiredTemp() }}
        {% for error in form.desiredTemp.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.startTime.label }}
        {{ form.startTime(type="time") }}
        {% for error in form.startTime.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.endTime.label }}
        {{ form.endTime(type="time") }}
        {% for error in form.endTime.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>

    <table>
        <caption> Schedules </caption>
        <tr>
            <th> Desired Temperature </th>
            <th> Start Time </th>
            <th> End Time </th>
            <th> </th>
            <th> </th>
        </tr>

        {% for key in schedules.keys() %}
        <tr> 
            <td> {{ schedules[key][0] }} </td>
            <td> {{ key }} </td>
            <td> {{ schedules[key][1] }} </td>
            <td> <a href="{{ url_for('delete_schedule', room_id=room_id, key=key) }}"> Delete </a> </td>
        </tr>
        {% endfor %}
    </table>  
    
{% endblock %}